# Example Environment Variables
# Copy this file to .env and fill in your actual values

# Binance API Credentials
BINANCE_API_KEY=v0D4P3dnYFJdrejkJ85mcFlus0aUIG3s8O7bIhT4Xdu6V8wjcKHipVE5U4MHxyv6
BINANCE_API_SECRET=TGn5TQnwpIRcSFo2yrSjzgwzw9xJwmZqnuIicAYWfL82QQDj33D6PumN0cDGTmtn

# Telegram Bot Credentials
TELEGRAM_BOT_TOKEN=5833768074:AAHSfnbTzx-pU5jmikeIwtPfO-_kAneWlXE
TELEGRAM_CHAT_ID=-1002301937119
